html, body,
ul, ul li,
.container {
    margin: 0;
    padding: 0;
}
html, body,
.container {
    width: 100%;
    height: 100%;
    min-height: 600px;
}
ul li {
    list-style: none;
}
.container {
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
}
.left-nav {
    padding: 0;
    height: 100%;
    background-color:#424F63;

}
.nav-title {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.nav-content {
    font-size: 18px;
    color: white;
    margin: 50px auto;
}
.nav-content ul li {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    /*border-top: solid 2px #353F4E;*/
    border-bottom: solid 2px #353F4E;
}
.nav-content ul li:first-child {
    border-top: solid 2px #353F4E;
}
.nav-content ul li:hover,
.nav-chosen {
    background-color: orange;
}

.right-section {
    padding: 0;
    height: 100%;
    background-color:white;

}

.section-nav {
    height: 50px;
    margin: 0;
    padding: 0;
    /* ???bootstrap?ĸ??? */
    float: none;
    background-color: #eee;
}
.section-nav::after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}
.search-wrap {
    width: 300px;
    margin: 9px 30px;
    float: left;
}
.search-icon-wrap {
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    background-color: #0c8484;
}
.search-input {
    height: 32px;
    width: 260px;
    text-indent: 7px;
    outline: none;
}

.user-info-wrap {
    width: 150px;
    height: 50px;
    float: right;
    margin-right: 40px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.user-info-wrap a {
    text-decoration: none;
}
.user-info-wrap .user-menu {
    width: 100px;
    min-width: 80px;
}

.alt-content {
    width: 100%;
    height: 100%;
    display: none;
}
.content-show {
    display: block;
}
/*========================第1屏:馆藏概况========================*/
.d3-chart-wrap {
    cursor: pointer;
}

.d3-chart-wrap table {
    display: inline-block;
    width: 150px;
}
/* bootstrap样式中没有bottom 添上 */
.d3-chart-wrap table>tbody>tr>td {
    border-bottom: 1px solid #ddd;
}
.pie-chart-wrap {
    text-align: center;
}
.pie-chart {
    display: inline-block; 
    text-align: left;  
}
.pie-chart h3 {
    margin-left: 50px;
}
.book-histogram {
    text-align: center;
}
.book-histogram h3 {
    margin-left: -40px;
}
.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
 
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.text-in-rect {
    color: white;
}
/*========================第2屏:搜索结果========================*/

.book-search-result-wrap {
    width: 90%;
    margin: 0 auto;
}
.pagination-container {
    width: 450px;
    height: 75px; 
    position: absolute;
    left: calc(50% - 140px);
    bottom: 15px;
}
.alert-wrap {
    text-align:center;
}
/*=========================第3屏:个人信息=======================*/
.profile-form-wrap {
    width: 400px;
    height: 380px;
    margin: 60px auto;
    text-align: center; 
    background-color: white;
    border: solid 1px #E5E5E5;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #ccc;
}
.profile-form-wrap legend{
    padding: 10px;
}
.profile-form-wrap h5 {
    font-size: 12px;
    color: crimson;
}
.profile-form-wrap .input-again {
    margin-left: -58px;

}
.profile-form-wrap .divider {
    height: 1px;
    margin: 20px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.profile-form-wrap button {
    margin: -2px 30px 0 65px;
    font-size: 16px;
}

/* 重写angular的ngshow展现模式
 * 原始模式是display:none!important;
 * 目的是使warning文本占位，避免登录框闪动
 */
.ng-hide:not(.ng-hide-animate) {
    visibility: hidden !important;
    display: block !important;
}